body,
ul,
li {
	margin: 0px;
	padding: 0;
}

header {
	width: 100%;
	height: 80px;
	background: white;
	border-bottom: 1px solid #8C8C8C;
}

#logo {
	width: 80px;
	height: 79px;
	float: left;
	background-image: url(../../images/header/41k58PICMNz_1024.png);
	background-size: 100%;
	margin-left: 200px;
}

#logoname {
	font-size: 35px;
	color: #e84c3d;
	;
	font-weight: bold;
	display: block;
	font-family: "arial narrow";
	line-height: 80px;
	float: left;
}

#header-Btns {
	list-style: none;
	float: left;
	margin-left: 30px;
}

#header-Btns li {
	width: 122px;
	height: 80px;
	float: left;
	border: none;
	line-height: 80px;
	text-align: center;
	font-size: 25px;
	color: #e84c3d;
	font-weight: bold;
}

#header-Btns li:nth-child(1) {
	background: #e84c3d;
}

#header-Btns li:nth-child(1) a {
	color: white;
}

#header-Btns li a {
	color: #e84c3d;
	;
	text-decoration: none;
}

.Search-css {
	margin-left: 100px;
}


/*#header-Btns li:hover{ background:#e84c3d;
                          color: white; 
                          transition: 0.5s;  }                         */

#header-Search {
	width: 250px;
	height: 30px;
	margin-top: 25px;
	margin-left: 30px;
	float: left;
}

#header-serch-Btn {
	width: 80px;
	height: 36px;
	background: #e84c3d;
	margin-left: 0px;
	margin-top: 25px;
	float: left;
}

#header-Setup-Login {
	list-style: none;
	float: right;
	margin-right: 200px;
	margin-top: 22.5px;
}

#header-Setup-Login li {
	width: 80px;
	height: 35px;
	float: left;
	margin-right: 30px;
	font-size: 20px;
	color: #e84c3d;
	line-height: 35px;
	font-weight: bolder;
	text-align: right;
}

#header-Btns li,
#header-Setup-Login li {}