.admin_left dl:nth-of-type(20){
	line-height: 60px;
	background:#02476F;
}

.admin_left dl:nth-of-type(20)img{
	line-height: 60px;
	margin-top:20px;
	float:right;
	margin-right:15px;
}
.admin_left dt:nth-of-type(20){
	line-height: 60px;
	padding-left: 40px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    line-height: 48px;
    cursor: pointer;
}