.recharge-box{ width:1200px; margin:0 auto; background-color:#fff; height:734px; margin-top:20px;}
.recharge-title{ width:988px ; height:88px;margin-left:52px; border-bottom:1px solid #cacaca;}
.title{font-size: 24px; font-weight: bold; float: left; line-height:88px;color: gray;}   
                                       
.recharge-Inform{ width:127px ; height: 35px;float: left; margin-left: 20px; margin-top:35px;}            
.recharge-Inform span{ float: left; font-size:18px ;}     
.recharge-Inform span:nth-child(2){color:#009CFA ;font-size:18px ;font-weight: bold;}
.nameS,.contentS{ float: left;  }
 .nameS{ width: 177px;  padding: 20px 5px;text-align: right; font-size:18px;}  
 .contentS{width: 680px;padding: 20px 5px; }  
 
 .line1, .line2, .line3, .line4{width:914px ;}
 .line1{height:61px;   }            
 .line2{height:123px; }  
 .line3{height:71px; margin-left:160px;}  
 .line4{height:100px;  margin-bottom: 30px; float: left;}  

.recharge-Ul li{ font-size:16px; float: left; width:82px ; height: 47px; background:#f2f2f2; border-radius:3px ; margin-right: 10px; line-height: 47px; text-align: center; border: 2px solid white; color: gray;}
.recharge-Mchoice:after{ content: "元";}
             
.recharge-Ul li:nth-child(6){width: 185px;height: 49px; position: relative;}       

                   
#recharge-btn{width:185px; height:49px ; font-size:16px; padding: 7px 7px 7px 12px; background: #f0f0f0; border-radius:3px ; border-style: none; color: gray;}    
#recharge-btn:hover{background: white;}
                  
.recharge-inputBox span{ float: right;position: absolute; right:5px;color: gray;  top: 1px;}
.recharge-Ul li:not(.recharge-inputBox):hover{background: white; border: 2px solid #009CFA; color:#009CFA;}

.recharge-money,.recharge-moneyName{ font-size: 24px; font-weight: bold;color:#009CFA ;}

.recharge-Pay li{ width:136px ; border:2px solid #fff;  height:56px ; padding:2px ;float: left;border-radius: 3px; margin-right: 10px;}

.recharge-Pay li:nth-child(1){ 
				background-image: url("/static/images/ui/charge-channel.png");
                background-repeat: no-repeat;
			    background-position: -140px 0px;
}
.recharge-Pay li:nth-child(2){ background-image:url("/static/images/ui/charge-channel.png");
               background-repeat: no-repeat;}

.recharge-queren{ cursor:pointer; width:180px ; font-size:24px; float:left;  height:45px ;background:#009CFA;border-radius:3px ;margin-left:192px;margin-top: 20px;color: white;text-align: center;line-height: 45px;}
 
/*.recharge-Mchoice{
     width:84px ;  height:49px ;
     border: 2px solid #0EC87C;
     background-image: url();
     position: absolute;
     left: 0;top: 0;
}             */
.recharge-Informdiv { width:978px; height: 80px;
         margin-left: 25%;
          margin-top: 10px;}      

.recharge-Box1{width: 978px; height: 612px;
                      margin-left: 25%;
                      margin-top: 5px;
                      background: white;
                      overflow: hidden;}        

.recharge-Box1 p{ font-size: 30px;
         text-align: center;
         margin-top: 40px;}    

#qrcode{ width:256px ; height:256px ;
         background: yellow;
         margin: auto;
         margin-top: 40px;}

.recharge-KindsName{font-size:28px; 
          font-weight: bold;
          line-height: 50px;        }
.needDad{ color: gray; font-size:28px; 
          font-weight: bold;
          line-height: 50px;}
.shaoma {width:260px ; height:80px ;
         margin:auto ; margin-top: 40px;
         background-image:url(/static/images/recharge/2722b9c144b8ea2cb48e1afe72f08046.png);}      

.recharge-userName{ float:right; font-size:18px; margin-top:36px;}
.recharge-uName{ float:left; color:#000; margin-right:10px;}
#userName{ float:left; color:#595758;}   