.clearBoth{ clear:both;}
.lists-big-box{ margin-right:10px; margin-bottom:30px;position: absolute;left: 260px; right: 0;}
.lists-big-box .lists-box{ margin-top:10px;}
.lists-big-box .lists-box:first-child{margin-top:0px;}
.lists-box{ box-shadow:1px 1px 1px #d5d5d5; width:100%; background-color:#fff; padding-bottom:0.3%;}
.lists-box-title{ width:100%; border-bottom:2px solid #dcdcdc; height:40px; line-height:40px; font-size:18px; padding:0px 10px; padding-left:60px; position:relative;}
.lists-box-title p{ width:100%; position:relative;}


.lists-title-ioc{ width:36px; position:absolute; left:-48px;}
/*.lists-ioc-hot{ top:12px;}*/
/*.lists-ioc-video{ top:8px;}*/

.lists-box-list{ width:100.5%; padding:0px 0.5%; margin-left:-0.5%; margin-bottom:0.5%;}
.lists-box-list li{ width:19%; float:left;  margin-left:0.92%; margin-top:0.97%; overflow: hidden;}
.lists-box-list li:hover .list-mask{opacity:1;}
.lists-box-list li:hover .list-mask-img{opacity:1; width:50px; margin-top:-25px; margin-left:-25px;}
.lists-box-list li:hover .lists-box-list-font b{margin-right:-40px;}    
.listsShow li:hover{box-shadow: 0px 0px 10px #059dfa;} 
.listsShow li:hover .lists-classFont{right:-75px;}
.listsShow li:hover .lists-box-list-font h1{ right:10px; color:#00a2f8;}
.lists-box-list-img{ width:100%; position:relative; overflow:hidden;}
.lists-box-list-img img{ width:100%;}
.lists-box-list-font{ padding:1.5% 4%; background-color:#f2f2f2;  position: relative; height:50px; overflow:hidden;}
.lists-box-list-font img{ margin-right:5px;}
.lists-box-list-font h1{ font-size:12px; color:#000; font-weight:500; height:18px; overflow: hidden; position: absolute; right: 75px; left: 10px; transition:all 0.5s; -webkit-transition:all 0.5s;}
.lists-box-list-font b{ float:right; font-size:12px; font-weight:500; color:#009CFA; margin-right:0px; transition:all 0.1s; -webkit-transition:all 0.1s;}
.lists-box-list-font p{ font-size:12px; color:#8b8b8b; margin-top:5px; margin-bottom:5px; position: absolute; bottom:0; left:10px !important; right:10px !important;}
.lists-box-list-font span{ float:right; }
.lists-box-list-font .lists-classFont{ color:#00a2f8; top:5px; right:10px; position: absolute; width:75px; background-color: #f2f2f2; text-align: right; overflow: hidden; transition:all 0.5s; -webkit-transition:all 0.5s;}
@media(max-width:1330px){
	.lists-box-list{ width:100.5%; padding:0px 0.5%; margin-left:-0.5%; margin-bottom:0.5%;}
	.lists-box-list li{ width:32%; float:left; margin-left:1.1%; margin-top:1.1%;}
	.lists-box-list-img{ width:100%;}
	.lists-box-list-img img{ width:100%;}
}

.lists-box-list li:hover{ box-shadow:0px 0px 1px 2px #009CFA;}

.list-mask{ background-color:rgba(0,0,0,.2);position:absolute; width:100%; height:100%; left:0; top:0; opacity: 0; transition:all 0.5s; -webkit-transition:all 0.5s;}
.list-mask-img{opacity:0; position:absolute; top:50%; bottom:50%; left:50%; right:50%; width:100px; margin-top:-50px; margin-left:-50px; transition:all 0.5s; -webkit-transition:all 0.5s;}
.list-mask-img img{ width:100%;}



html {
	box-sizing:border-box
}

*,*:before,*:after {
	box-sizing:inherit;
}

img,object,embed {
	max-width:100%
}

