#advertisement{
    width: 305px;
    height: 100%;
    z-index: 99;
    top: 0;
	right: 0;
    position: absolute;
    overflow: hidden;
}
#advertisement #adv1{
    width: 100%;
    height: 10%;
    display: block;
}
#advertisement #adv2{
    width: 100%;
    height: 56%;
   display: block;
   margin-top: 3%;
}
#advertisement #adv3{
    width: 100%;
    height: 30%;
   display: block;
   margin-top: 3%;
}
.adcol{
	position: absolute;
	top: 0;
	right: 0;
}
.advs{
	vertical-align: middle;
	overflow: hidden;
	height: 100%;
    background-color: white;
}
.advs img{
	width: 100%;
	height: 100%;
}
#roomAlias,#roomMsg{
    left:20px;
}

