{{define "news/left.html"}}
   <div class="help-left">
   <div class="help-item">
			  <div class="help-title"><a href="o1-0">公告</a></div>
			  <ul class="help-item-list">
			    <br>
			  </ul>
			</div>
		    <div class="help-item">
			  <div class="help-title"><a href="o1-1">新闻</a></div>
			  <ul class="help-item-list">
			    <br>
			  </ul>
			</div>
			<div class="help-item">
			  <div class="help-title"><a href="o1-2">活动</a></div>
			  <ul class="help-item-list">
			    <br>
			  </ul>
			</div>
			<div class="help-item">
			  <div class="help-title"><a href="o1-3">杂谈</a></div>
			  <ul class="help-item-list">
			    <br>
			  </ul>
			</div>
			<div class="help-item">
			  <div class="help-title"></div>
			  <ul class="help-item-list">
			    <br>
			  </ul>
			</div>
		  </div>
<section id="loginBox">
    {{ template "page/common_logins.html"}}
</section>

{{end}}