{{define "news/news3-1-1.html"}}

<!DOCTYPE html>
<html lang="en">
 <head>
	{{template "page/common_meta.html"}}
	<title>【富秀直播】-公告</title>
	{{template "page/common_css.html"}}
	<link rel="stylesheet" type="text/css" href="/static/css/help_content.css"/>
	{{template "page/common_js.html"}}
</head>
 <body>
{{template "page/common_head.html"}}
	<div class="help-container">
	    <div class="help-head">
		 	<h2>杂谈</h2>
	    </div>
		<div class="help-content">
		  {{template "news/left.html"}}
		  <div class="help-right">
                <div class="help-right-title">杂谈标题</div>
                <div class="help-right-detail"><br />杂谈内容<img src="problem1-1-4_clip_image001.jpg" alt=""/><br /><br />富秀直播<br />2016-12-1<br /></div>
                <div class="help-right-foot">
                    <p>&nbsp;</p>
                </div>
            </div>
		</div>
	</div>
 </body>
</html>
{{end}}