{{define "news/o1-3.html"}}

<!DOCTYPE html>
<html lang="en">
<head>
	{{template "page/common_meta.html"}}
	<title>【富秀直播】-公告</title>
	{{template "page/common_css.html"}}
	<link rel="stylesheet" type="text/css" href="/static/css/help_content.css"/>
	{{template "page/common_js.html"}}
</head>
 <body>
{{template "page/common_head.html"}}
	<div class="help-container">
	    <div class="help-head">
		 <h2>杂谈</h2>
	    </div>
		<div class="help-content">
		  {{template "news/left.html"}}
		  <div class="help-right">
		    <ul class="help-right-list">
              <li><a href="news3-1-1" target="_blank">杂谈A</a></li>
			  <li><a href="news3-1-1" target="_blank">杂谈B</a></li>
              <li><a href="news3-1-1" target="_blank">杂谈B</a></li>              
			  <li><a href="news3-1-1" target="_blank">杂谈B</a></li>
			</ul>			
		  </div>
		</div>
	</div>
	<!--
	footer太高。
	-->
 </body>
</html>

{{end}}