{{ define "user/footer.html" }}
<div class="index-footer-container">
    <ul class="index-footer">
        <li class="links">
            <h2>主播帮助</h2>
            <p><a href="#">APP下载</a></p>
            <p><a href="#">IOS户外直播</a></p>
            <p><a href="#">直播助手使用教程</a></p>
            <p><a href="#">Xsplit软件教程</a></p>
        </li>
        <li class="links">
            <h2>使用规则</h2>
            <p><a href="#">用户行为准则</a></p>
            <p><a href="#">不良信息投诉举报</a></p>
            <p><a href="#">版权声明及投诉流程</a></p>
            <p><a href="#">内容管理及处置条例</a></p>
        </li>
        <li class="split-line"></li>
        <li class="qr-code app">
            <div class="icon"><i></i><b></b></div>
            <img src="/static/images/fushowweixin.gif" alt="石榴联盟直播手机版">
            <p>石榴联盟直播手机版</p>
        </li>
        <li class="qr-code weixin">
            <div class="icon"><i></i><b></b></div>
            <img src="/static/images/fushowweixin.gif" alt="微信：Fushow">
            <p>微信：Fushow</p>
        </li>
        <li class="qr-code weibo">
            <div class="icon"><i></i><b></b></div>
            <a href="#" target="_blank">
                <img src="/static/images/fushowweixin.gif" alt="石榴联盟直播官方微博">
                <p>石榴联盟直播官方微博</p>
            </a>
        </li>
    </ul>
    <div class="index-footer-line"></div>
</div>


<section id="loginBox"></section>

<!-- footer start -->
<footer id="sltvpx_footer">
  <img class="footer-logo" src="/static/images/logo_sltv.png" alt="sltvpx.tv">

    <div class="footer-text">
	    <p>Copyright ©2016-2018 大连石榴网络科技有限公司</p>
        <p>备案号：辽ICP备16014177号-1 | 辽网文xxxxx号 </p>
        <p>联系地址：辽宁省大连市软件园软景中心A座写字楼 | 联系电话：0411-39882888 | 业务Q：3323684573</p>
	</div>

</footer>
{{end}}