{{ define "user/header.html" }}
	 
	 <header>
	 	<div class="header_w" style="margin: 0 auto; ">
		 	<a href="/">
				<div id=""></div>
				<img style="float:left;line-height:80px;" src="/static/images/logo_black.png">
			</a>
		 	<ul id="header-Btns">
		 		<li id="indexShouye" >
		 			<a href="/">首页</a>
		 		</li>
		 		<li id="listZhibo" class="li-clickOff">
		 			<a href="/page/list" class="a-clickOn">直播</a>
		 		</li>
		 	</ul>
		 	<!--<div class="Search-css">
			 	<input type="text"  id="header-Search" value="房间/主播..." />
			 	<div id="header-serch-Btn">搜索</div>
		 	</div>-->
	        <ul id="header-Setup-Login">
	        	<li id="head-login">登录</li>
	        	<li id="head-setup">注册</li>
	        </ul>
			<div class="o-login fl" data-login-content="yes" style="display:none">
			    <a class="o-login-a" href="/user/mine_myInform" target="_blank">
				<span class="l-pic"><img src="/static/images/header/logo.png"></span>
			    <span class="l-txt">020tank</span>
			    </a>
			</div>
        </div>
	 </header>
{{end}}