{{ define "user/index_head.html" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/mine/mineDouyu.css" />
		<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.qqFace.js" ></script>	
		<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>
		<script type="text/javascript" src="/static/js/mui.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/mine/mine-myGift.js"></script>-->
		

		
		<link rel="stylesheet" href="/static/css/mine/mineDouyu.css" />
		<link rel="stylesheet" href="/static/css/commonCss/head.css" />
		<link rel="stylesheet" href="/static/css/mine/mine&Tab.css" />
		<link rel="stylesheet" href="/static/css/mine/Tab-displayNone.css" />   
		<link rel="stylesheet" href="/static/css/mine/mine-myInform.css" /> 
		<link rel="stylesheet" href="/static/css/mine/mine-myCash.css" />
		<link rel="stylesheet" href="/static/css/room2.css"/>
		<link rel="stylesheet" href="/static/css/mine/mine-myOrder.css" />
		<link rel="stylesheet" href="/static/css/mine/everyContent.css" />
		<link rel="stylesheet" href="/static/css/mine/mine-setting.css" />
		<link rel="stylesheet" href="/static/css/mine/mine-liveHistoty.css" />
		<link rel="stylesheet" href="/static/css/mine/mine-myGift.css" />
		<link rel="stylesheet" href="/static/css/mine/mine-myGusse.css" />
		<link rel="stylesheet" href="/static/css/mine/mine_rechargerecord.css" />
		<link rel="stylesheet" href="/static/css/right_videoBox.css" />
		<link rel="stylesheet" href="/static/css/common.css"/> 
		<!--阿里云自定义播放器 css js-->
		<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index.css" />
  		<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism.js"></script>
		<script type="text/javascript" src="/static/js/mine/mine&Tab.js"></script>
		<script type="text/javascript" src="/static/js/head.js"></script>
		<script type="text/javascript" src="/static/js/mine/mine-myInform.js"></script>
		<script type="text/javascript" src="/static/js/mine/mine-myOrder.js"></script>
		<script type="text/javascript" src="/static/js/commonHtml/header.js"></script>
		<script type="text/javascript" src="/static/js/common.js?test=1.01"></script>
	<title></title>
	</head>
{{end}}