{{define "user/room_head.html"}}
<script type="text/javascript" src="/static/js/jquery.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.qqFace.js" ></script>
		<!--room.js	-->
		<script type="text/javascript" src="/static/js/room/room_head_shall.js" ></script>	
		<link rel="stylesheet" href="/static/css/commonCss/login.css" />
		<!--######room2Css#######-->
		<link rel="stylesheet" href="/static/css/room2.css"/>
	    <!--######HeadCss#######-->
		<link rel="stylesheet" href="/static/css/commonCss/head.css" />
		<!--######左列表#######-->
		<link href="/static/css/pd0.css" type="text/css" rel="stylesheet">
		<link href="/static/css/pd1.css" type="text/css" rel="stylesheet">
		<link href="/static/css/pd2.css" type="text/css" rel="stylesheet">
	    <!--######VideoBOX#######-->
	    <link rel="stylesheet" href="/static/css/right_videoBox.css" />
		<!--############Video插件###########-->
		<link rel="stylesheet" href="/static/css/video/video-js.min.css" />
	    <!--############表情插件###########-->
	    <link rel="stylesheet" href="/static/css/roomCss/qqface.css" />
        <!--############竞猜插件###########-->
        <link rel="stylesheet" href="/static/css/Gusse/demo.css" />
        <link rel="stylesheet" href="/static/css/Gusse/flipsternavtabs.css" />
        <link rel="stylesheet" href="/static/css/Gusse/jquery.flipster.css" />
		<!--############gift###########-->
		<link rel="stylesheet" href="/static/css/roomCss/roomGift.css" />
        <!--###########danmu###########-->
        <link rel="stylesheet" href="../../static/css/danmu/danmu.css" />
		
		<!--阿里云自定义播放器 css js-->
		<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index.css" />
  		<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism.js"></script>
		
		<script>
			$.getScript("/static/js/commonHtml/header.js");
		</script>
       
{{end}}