{{define "user/video_Title.html"}}
    <!--####################HEAD#########################-->
      <div class="room-head-box">
    	    <div class="room-head-info">
		               <div class="room-head-info-cover">
									    <img id="favicon" src="/static/images/Play/9baa154c1c59a7067fbc7cb096f82dab.jpg">
						</div>
		               <h1 id="roomAlias" class="room-head-info-title"></h1>
		               <div class="room-head-info-detail clearfix">
				               <span id="nickName" class="room-head-info-hostname"></span>
		               </div>
               <!--##################Head中举报分享等#####################-->
			<!--
		            <ul id="room-head-lists">
		            	<li><div id="report"></div>举报</li>
		            	<li><div id="shall"></div>分享<div class="jiantou"></div></li>
		            	<li><div id="download"></div>下载APP<div class="jiantou"></div></li>
		            </ul>
		            
		            <ul  id="room-head-lists2">
		            	<li>94,098</li>
		            	<li class="order">订阅</li>
		            </ul>
					-->
		        <!--##################分享等的子Div#####################-->    
		            <div id="room-head-shallSon">
		            	<ul id="room-head-shallSon-ul">
		            		<li> <div id="sina"></div>新浪微博</li>
		            		<li> <div id="qq"></div>QQ空间</li>
		            		<li> <div id="weChat"></div>微信扫码</li>
		            		<li><img src="/static/images/3bcb8d98d9d12254b462408b0b6a20f6.png"></li>
		            	</ul>
		            </div>
		        <!--##################下载APP子Div#####################-->       
		            <div id="room-head-appSon">
		            	<img src="/static/images/3bcb8d98d9d12254b462408b0b6a20f6.png" />
		            </div>
            </div>

      </div>

{{end}}