{{define "user/wrap.html"}}
<div class="sidebar-container" style="display: block;">
	<div class="sidebar-expand">
		<!-- sidebar-head start -->
		<div class="sidebar-head">
			<div class="sidebar-logo">
				<a href="http://www.panda.tv/" target="_top">
					<img src="/static/images/logo_sltv.png" alt="logo">
				</a>
			</div>
			<!--<div class="sidebar-search">
				<div class="panda-search ">
					<form name="room-search" action="http://www.panda.tv/search" method="get" target="_top" class="search-form">
						<input type="text" name="kw" value="搜游戏/主播" autocomplete="off" class="search-key search-default">
						<div class="search-submit-btn">
							<input type="submit" class="search-submit">
						</div>
					</form>
				</div>
			</div>-->
		</div>
		<!-- sidebar-head end -->
		<div class="sidebar-content ps-container" data-ps-id="e5e595df-9f11-2889-0ca1-7e5589ff2853">
			<!-- sidebar-userinfo start -->
			<div class="sidebar-userinfo">
				<div class="sidebar-userinfo-login-panel">
					<div class="sidebar-login-btns">
						<a href="javascript:;" class="sidebar-login-btn sidebar-userinfo-login-btn">登录</a>
						<a href="javascript:;" class="sidebar-register-btn sidebar-userinfo-register-btn">注册</a>
					</div>
					<p class="sidebar-login-banner">和小伙伴一起聊聊吧</p>
				</div>
			</div>
			<!-- sidebar-userinfo end -->
			<div class="sidebar-split-line"></div>
			<!-- sidebar-quick-browse start -->
			<div class="sidebar-quick-browse">
				<div class="sidebar-list-head"><b></b>快速浏览</div>
				<ul class="sidebar-list sidebar-list-1">
					<li>
						<a href="/" target="_top"><i class="sidebar-icon sidebar-icon-all-live"></i>全部直播</a>
					</li>
					<li>
						<a href="http://www.panda.tv/cate" target="_top"><i class="sidebar-icon sidebar-icon-all-cate"></i>全部分类</a>
					</li>
				</ul>
			</div>
			<div class="sidebar-split-line"></div>
			<!-- sidebar-quick-browse end -->
			<!-- sidebar-category start -->
			<div class="sidebar-category">
				<div class="sidebar-list-head">
					<b></b><span class="sidebar-list-head-tit">精彩分类</span>
					<i class="sidebar-icon sidebar-icon-sort-cate" data-tips="分类排序"></i>
				</div>
				<div class="sidebar-site-category">
					<ul class="sidebar-list sidebar-list-2 clearfix">
						<li class="sidebar-list-sort-disable" data-ename="nvshen" title="热门直播">
							<a href="/page/list" >
						  热门直播
						</a>
						</li>
						<li class="sidebar-site-category-item" data-ename="lol" title="英雄联盟">
							<a href="/page/list" >
							英雄联盟                      </a>
						</li>
						<li class="sidebar-site-category-item" data-ename="yzdr" title="娱乐联萌">
							<a href="/page/list" target="_top">
							娱乐联萌                      </a>
						</li>
						<li class="sidebar-site-category-item" data-ename="hearthstone" title="直播现场">
							<a href="/page/list" target="_top">
							直播现场                      </a>
						</li>
						<li class="sidebar-site-category-item" data-ename="dota2" title="DOTA2">
							<a href="/page/list" target="_top">
							DOTA2                      </a>
						</li>
						<li class="sidebar-site-category-item" data-ename="hwzb" title="户外直播">
							<a href="/page/list" target="_top">
							户外直播                      </a>
						</li>
						<li class="sidebar-site-category-item" data-ename="overwatch" title="守望先锋">
							<a href="/page/list" >
							守望先锋                      </a>
						</li>

					</ul>
				</div>
			</div>
			<!-- sidebar-category end -->
			<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
				<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
			</div>
			<div class="ps-scrollbar-y-rail" style="top: 0px; right: 1px;">
				<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
			</div>
		</div>
		<!-- sidebar-foot start -->
		<div class="sidebar-foot">
			<div class="sidebar-split-line"></div>
			<ul class="sidebar-list sidebar-list-3 clearfix">
				<li>
					<a href="http://www.panda.tv/help" target="_blank">直播指导</a>
				</li>
				<li>
					<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA0MjgyOF8zMjA4NzZfODAwMDQyODI4XzJf" target="_blank">客服支持</a>
				</li>
				<li>
					<a class="sidebar-feedback" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA0MjgyOF8zMjA4NzZfODAwMDQyODI4XzJf" target="_blank">问题反馈</a>
				</li>
			</ul>
		</div>
		<!-- sidebar-foot end -->
	</div>
	<div class="sidebar-collapse">
		<div class="sidebar-collapse-head">
			<a href="http://www.panda.tv/" target="_top">
				<i class="sidebar-icon sidebar-icon-home"></i>
			</a>
		</div>
		<div class="sidebar-collapse-content ps-container" data-ps-id="2ba1d046-ae14-7de4-9fdc-fb2a940683ad">
			<ul class="sidebar-list sidebar-list-4">
				<li>
					<a href="javascript:;" class="sidebar-userinfo-login-btn">
						<i class="sidebar-icon sidebar-icon-personal"></i>
						<span>登录</span>
					</a>
				</li>
				<li>
					<a href="/" target="_top">
						<i class="sidebar-icon sidebar-icon-all-live-big"></i>
						<span>直播</span>
					</a>
				</li>
				<li>
					<a href="http://www.panda.tv/cate" target="_top">
						<i class="sidebar-icon sidebar-icon-all-cate-big"></i>
						<span>分类</span>
					</a>
				</li>
			</ul>
			<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
				<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
			</div>
			<div class="ps-scrollbar-y-rail" style="top: 0px; right: 1px;">
				<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
			</div>
		</div>
		<div class="sidebar-collapse-foot">
			<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA0MjgyOF8zMjA4NzZfODAwMDQyODI4XzJf" class="service-button" target="_blank" title="客服">
				<i class="sidebar-icon sidebar-icon-service-big"></i>
				<span>客服</span>
			</a>
		</div>
	</div>
	<a href="javascript:;" class="sidebar-state-toggle-btn"></a>
</div>
		  

{{end}}