{{define "page/alltvlive.html"}}
<html>
<!-- 头部文件 -->
<head>
	{{template "page/common_meta.html"}}
	<title>富秀直播</title>
	{{template "page/common_css.html"}}
	<link rel="stylesheet" href="/static/css/lists.css"/>	
	{{template "page/common_js.html"}}
	<script src="/static/js/alltvlive.js"></script>	
	<script src="../../static/js/jpages/alltvPages.js"></script>
</head>
<body>
	{{ template "page/common_sidebar.html" .}}
	<div class="lists-big-box">
		<div class="lists-box">
			<div class="lists-box-title">
				<p><b class="lists-title-ioc lists-ioc-video"><img src="/static/images/ui/zhibo.png"/></b>全网直播</p>
			</div>
			<ul class="lists-box-list listsShow">
				<!--数据-->
				<div id="alllive"></div>
				<div class="clearBoth"></div>
			</ul>
		</div>
			<div class="page-component"></div>
	</div>
</body>
</html>
{{end}}	