{{define "page/carousel.html"}}
<div class="index-wrap-container">
	<div class="index-slider-container">
		<div class="index-slider-content wclearfix">
			<!--幻灯片start-->
			<div id="lunbo-Pic">
				
			</div>
			
			<ul id="lunbo-Btn">
				<li>
					
					<div class="pics-Border2"></div>
				</li>
				<li>
					
					<div class="pics-Border2"></div>
				</li>
				<li>
					
					<div class="pics-Border2"></div>
				</li>
				<li>
					
					<div class="pics-Border2"></div>
				</li>
				<li>
					
					<div class="pics-Border2"></div>
				</li>
				<li>
					
					<div class="pics-Border2"></div>
				</li>
			</ul>
			<!--幻灯片end-->
		</div>
	</div>
	<a target="_blank" href="#" class="index-slider-link"></a>
</div>
{{end}}