{{ define "page/head.html" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>石榴联盟直播</title>
	<link rel="icon" href="/static/images/header/logo.png" type="image/x-icon"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="/static/css/index.css" />
	<link rel="stylesheet" href="/static/css/commonCss/login.css" />
	<link rel="stylesheet" href="/static/css/commonCss/head.css?v1.2" />
	<link rel="stylesheet" href="/static/css/common.css" /> 
	<!---***pd1`*****--->
	<link href="/static/css/pd0.css" type="text/css" rel="stylesheet">
	<link href="/static/css/pd1.css?v1.6" type="text/css" rel="stylesheet">
	<link href="/static/css/pd2.css" type="text/css" rel="stylesheet">
	<!---***pd1*****--->
	<script src="/static/js/Modernizr.min.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>
	<script src="/static/js/head.js"></script>
	<script src="http://g.alicdn.com/de/prismplayer/1.4.7/prism.js"></script>
	<!--<script src="/static/js/commonHtml/header.js"></script>-->
	<link rel="stylesheet" href="/static/css/lunbo.css"/>
	<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index.css"/>
</head>
<body>
{{end}}