{{ define "page/ret_password_head.html"}}
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>石榴联盟直播找回密码</title>

</head>
<link rel="stylesheet" href="/static/css/commonCss/head.css" />
<link rel="stylesheet" href="/static/css/ret_password.css" />
<link href="/static/css/drag.css" rel="stylesheet" type="text/css">
<!--<script src="../../static/js/ret_password.js" type="text/javascript"></script>-->
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js" ></script>	
{{end}}