{{ define "page/ret_password_over.html"}}
{{ template "page/ret_password_head.html"}}
{{ template "page/header.html" }}

 <div class="content">
     <div class="for-liucheng">
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liutextbox">
       <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
       <div class="liutext for-cur"><em>2</em><br /><strong>验证身份</strong></div>
       <div class="liutext for-cur"><em>3</em><br /><strong>设置新密码</strong></div>
       <div class="liutext for-cur"><em>4</em><br /><strong>完成</strong></div>
      </div>
     </div><!--for-liucheng/-->
      <div class="successs">
       <h3>恭喜您，修改成功！</h3>
      </div>
   </div><!--web-width/-->
  </div><!--content/-->
 <script type="text/javascript">
$('#header-Setup-Login').css('display','none');
	setTimeout(window.location.href="/",6000);
 </script>
{{end}}