{{define "page/ret_password_setting.html"}}
{{ template "page/ret_password_head.html"}}
{{ template "page/header.html" }}
  <div class="content">
   <div class="web-width">
     <div class="for-liucheng">
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liulist"></div>
      <div class="liulist"></div>
      <div class="liutextbox">
       <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
       <div class="liutext for-cur"><em>2</em><br /><strong>验证身份</strong></div>
       <div class="liutext"><em>3</em><br /><strong>设置新密码</strong></div>
       <div class="liutext"><em>4</em><br /><strong>完成</strong></div>
      </div>
     </div><!--for-liucheng/-->
     <form action="ret_password_new" method="get" class="forget-pwd">
      
       <dl>
        <dt>用户名：</dt>
        <dd><input type="text" id="example"  value="" readonly /></dd>
        <div class="clears"></div>
       </dl>
       <dl class="sel-yzsj">
        <dt>已验证手机：</dt>
        <dd><input type="text" id="myphone" value="1851****517" readonly  /></dd>
        <div class="clears"></div>
       </dl>
       
       <dl>
        <dt>手机校验码：</dt>
        <dd><input id="codes" type="text" /> <div class="getmes">获取短信验证码</div></dd>
        <div class="clears"></div>
       </dl>
       <div class="subtijiao"><input class="commit" value="提交" /></div> 
      </form><!--forget-pwd/-->
   </div><!--web-width/-->
  </div><!--content/-->
  <script type="text/javascript">
$('#header-Setup-Login').css('display','none');
  	var username =getParam("username");
	var phone = ""; 
	$('.getmes').click(function() {
		$.ajax({
			type: "post",
			url: "/page/mobilesms",
			dataType: "json",
			data: {
				username: username,
				mobile: phone,
				type : "0"
			},
			async: true,
			success: function(msg, xhr) {
				if(msg.flag) {
					alert("验证码发送成功");
				}else{
					alert("发送失败");
				}
			},
			error:function(){
				alert("网络环境异常");
			}
		});
	});
	$('.commit').click(function() {
		var code = $("#codes").val();
		if(code=="") {
			alert("验证码不能为空");
		}
		else{
			$.ajax({
			type: "post",
			url: "/page/checkcode",
			dataType: "json",
			data: {
				username: username,
				mobile: phone,
				code : code
			},
			async: true,
			success: function(msg, xhr) {
				if(msg.flag) {
					window.location.href="ret_password_new?username="+username;
				}else{
					alert("验证码错误");
				}
			},
			error:function(){
				alert("网络环境异常");
			}
		});
		}
	});
  	$(function() {
		  		$.ajax({
						type: "post",
						url: "/page/getusername",
						dataType: "json",
						data: {
							username: username
						},
						async: true,
						success: function(msg, xhr) {
							if(msg.flag){
								document.getElementById("example").value=username;
								phone =msg.message.Phone;
								var m=phone.substr(0,4);
								var w=phone.substr(8,11);
								document.getElementById("myphone").value=m+"****"+w;
							}else{
								alert("用户不存在");
							}
						},
						error:function(){
							alert("网络环境异常");
						}
		  	});
  	});
  	//根据参数名获得该参数 pname等于想要的参数名 
			function getParam(pname) {
				var params = location.search.substr(1); // 获取参数 平且去掉？ 
				var ArrParam = params.split('&');
				if(ArrParam.length == 1) {
					//只有一个参数的情况 
					return params.split('=')[1];
				} else {
					//多个参数参数的情况 
					for(var i = 0; i < ArrParam.length; i++) {
						if(ArrParam[i].split('=')[0] == pname) {
							return ArrParam[i].split('=')[1];
						}
					}
				}
			};

  	
  </script>
{{end}}