{{ define "page/ret_password_new.html"}}
{{ template "page/ret_password_head.html"}}
{{ template "page/header.html" }}

 <div class="content">
   <div class="web-width">
     <div class="for-liucheng">
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liulist for-cur"></div>
      <div class="liulist"></div>
      <div class="liutextbox">
       <div class="liutext for-cur"><em>1</em><br /><strong>填写账户名</strong></div>
       <div class="liutext for-cur"><em>2</em><br /><strong>验证身份</strong></div>
       <div class="liutext for-cur"><em>3</em><br /><strong>设置新密码</strong></div>
       <div class="liutext"><em>4</em><br /><strong>完成</strong></div>
      </div>
     </div><!--for-liucheng/-->
     <form action="ret_password_over" method="get" class="forget-pwd">
       
       <dl>
        <dt>新密码：</dt>
        <dd><input id="pass" type="password" /></dd>
        <div class="clears"></div>
       </dl> 
       <dl>
        <dt>确认密码：</dt>
        <dd><input id="newpass" type="password" /></dd>
        <div class="clears"></div>
       </dl> 
       <div class="subtijiao"><input class="commit" value="提交" /></div> 
      </form><!--forget-pwd/-->
   </div><!--web-width/-->
  </div><!--content/-->
 <script type="text/javascript"> 
$('#header-Setup-Login').css('display','none');
  	var username = getParam("username");
	//根据参数名获得该参数 pname等于想要的参数名 
	function getParam(pname) {
		var params = location.search.substr(1); // 获取参数 平且去掉？ 
		var ArrParam = params.split('&');
		if(ArrParam.length == 1) {
			//只有一个参数的情况 
			return params.split('=')[1];
		} else {
			//多个参数参数的情况 
			for(var i = 0; i < ArrParam.length; i++) {
				if(ArrParam[i].split('=')[0] == pname) {
					return ArrParam[i].split('=')[1];
				}
			}
		}
	};
	$('.commit').click(function() {
	var pass = $('#pass').val();
	var newpass = $('#newpass').val();  
		if(pass==newpass) {
			$.ajax({
			type: "post",
			url: "/page/mobilepassup",
			dataType: "json",
			data: {
				username: username,
				newpassword: newpass
			},
			async: true,
			success: function(msg, xhr) {
				if(msg.flag=="修改成功") {
					window.location.href="ret_password_over?username="+username;
				}else{
					alert("验证码错误");
				}
			},
			error:function(){
				alert("网络环境异常");
			}
		});
		}else{
			alert("两次密码不匹配")
		}
	});
 </script>	
{{end}}